.chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
}

.Monica {
    color: #1f77b4;
}
.Ross {
    color: #ff7f0e;
}
.Rachel {
    color: #2ca02c;
}
.Joey {
    color: #d62728;
}
.Chandler {
    color: #9467bd;
}
.Phoebe {
    color: #8c564b;
}
.q0-5{fill:#feedde}
.q1-5{fill:#fdbe85}
.q2-5{fill:#fd8d3c}
.q3-5{fill:#e6550d}
.q4-5{fill:#a63603}