.chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
}

.Monica {
    color: #1f77b4;
}
.Ross {
    color: #ff7f0e;
}
.Rachel {
    color: #2ca02c;
}
.Joey {
    color: #d62728;
}
.Chandler {
    color: #9467bd;
}
.Phoebe {
    color: #8c564b;
}
.q0-5{fill:#2166AC}
.q1-5{fill:#92C5DE}
.q2-5{fill:#BDBDBD}
.q3-5{fill:#F4A582}
.q4-5{fill:#B2182B}