/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Roboxue
------------------------- */

.roboxue-education {

}

.roboxue-education-logo img{
    width: 200px;
    height: 200px;
}

.roboxue-experience {
    margin-top: 10px;
}

.roboxue-experience-summary{
    font-weight: bold;
}

.roboxue-experience .list-group-item-text p:first-letter{
    margin-left: 20px;
}

.roboxue-education-down {

}

.roboxue-tags{
    line-height: 1.5;
}

.roboxue-label{
    margin-right: 2px;
    display: inline-block;
}

.roboxue-label-web {
    background-color: red;
}

.roboxue-label-programming {
    background-color: goldenrod;
}

.roboxue-label-database {
    background-color: mediumpurple;
}

.roboxue-label-analytics {
    background-color: green;
}

.roboxue-label-research {
    background-color: navy;
}

.roboxue-label-algorithm {
    background-color: darkcyan;
}