{% extends "base.html" %}
{% block title %}
    Works
{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Custom styles -->
    <link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <hr>
    <div class="panel panel-default" id="filter-candidates">
        <div class="panel-heading"><h4>
            <span class="glyphicon glyphicon-collapse-down" id="toggle-filter">Filters:</span>
            <span class="well well-sm" id="filter" style="display: none;"></span></h4>
        </div>
        <ul class="list-group well well-sm" style="display: none;">
            <li class="list-group-item"><span class="col-md-2">Web Techniques:</span>
                <span class="label roboxue-label roboxue-label-web">Javascript</span>
                <span class="label roboxue-label roboxue-label-web">Design</span>
                <span class="label roboxue-label roboxue-label-web">HTML/CSS</span>
                <span class="label roboxue-label roboxue-label-web">SliverLight</span>
                <span class="label roboxue-label roboxue-label-web">ASP.net</span>
                <span class="label roboxue-label roboxue-label-web">PHP</span>
            </li>
            <li class="list-group-item"><span class="col-md-2">Programming:</span>
                <span class="label roboxue-label roboxue-label-programming">Python</span>
                <span class="label roboxue-label roboxue-label-programming">Ruby</span>
                <span class="label roboxue-label roboxue-label-programming">Bash</span>
                <span class="label roboxue-label roboxue-label-programming">Java</span>
                <span class="label roboxue-label roboxue-label-programming">C#</span>
            </li>
            <li class="list-group-item"><span class="col-md-2">Databases:</span>
                <span class="label roboxue-label roboxue-label-database">Postgresql</span>
                <span class="label roboxue-label roboxue-label-database">MongoDB</span>
                <span class="label roboxue-label roboxue-label-database">SQL Server</span>
                <span class="label roboxue-label roboxue-label-database">MySQL</span>
                <span class="label roboxue-label roboxue-label-database">File Maker</span>
            </li>
            <li class="list-group-item"><span class="col-md-2">Analytics Tools:</span>
                <span class="label roboxue-label roboxue-label-analytics">Hadoop</span>
                <span class="label roboxue-label roboxue-label-analytics">SAS</span>
                <span class="label roboxue-label roboxue-label-analytics">R</span>
                <span class="label roboxue-label roboxue-label-analytics">Tableau</span>
                <span class="label roboxue-label roboxue-label-analytics">PostGIS</span>
                <span class="label roboxue-label roboxue-label-analytics">Excel VBA</span>
                <span class="label roboxue-label roboxue-label-analytics">FoxPro</span>
            </li>
            <li class="list-group-item"><span class="col-md-2">Techniques:</span>
                <span class="label roboxue-label roboxue-label-algorithm">Regression</span>
                <span class="label roboxue-label roboxue-label-algorithm">Clustering</span>
                <span class="label roboxue-label roboxue-label-algorithm">Neural Network</span>
                <span class="label roboxue-label roboxue-label-algorithm">Tree</span>
                <span class="label roboxue-label roboxue-label-algorithm">Principle Component Analysis</span>
                <span class="label roboxue-label roboxue-label-algorithm">Survival Analysis</span>
                <span class="label roboxue-label roboxue-label-algorithm">Time Series</span>
                <span class="label roboxue-label roboxue-label-algorithm">Visual Analytics</span>
            </li>
            <li class="list-group-item"><span class="col-md-2">Topic:</span>
                <span class="label roboxue-label roboxue-label-research">Hackathon</span>
                <span class="label roboxue-label roboxue-label-research">Big Data</span>
                <span class="label roboxue-label roboxue-label-research">Machine Learning</span>
                <span class="label roboxue-label roboxue-label-research">Data Visualization</span>
                <span class="label roboxue-label roboxue-label-research">Data Warehousing</span>
                <span class="label roboxue-label roboxue-label-research">Prediction</span>
                <span class="label roboxue-label roboxue-label-research">Web Analytics</span>
                <span class="label roboxue-label roboxue-label-research">Parallel Computing</span>
                <br>
            </li>
            <li class="list-group-item">
                <span class="col-md-2">Fields:</span>
                <span class="label roboxue-label roboxue-label-research">Transportation</span>
                <span class="label roboxue-label roboxue-label-research">Commercial Real Estate</span>
                <span class="label roboxue-label roboxue-label-research">Location Based Service</span>
                <span class="label roboxue-label roboxue-label-research">Finance</span>
                <span class="label roboxue-label roboxue-label-research">Insurance</span>
                <span class="label roboxue-label roboxue-label-research">Actuarial</span>
                <span class="label roboxue-label roboxue-label-research">Business Strategy</span>
                <span class="label roboxue-label roboxue-label-research">Operation</span>
            </li>
        </ul>
    </div>
    <div class="list-group" id="everything">
        <div class="list-group-item" id="northwestern_university">
            <div class="row roboxue-education">
                <div class="col-md-3 roboxue-education-logo">
                    <img class="roboxue-education-logo img-responsive"
                         src="{{ url_for('static',filename='images/nu-logo-alt.png') }}"
                         alt="Northwestern University">
                </div>
                <div class="col-md-9">
                    <div class="page-header">
                        <h1>Northwestern University
                            <span class="pull-right">Evanston, Illinois</span>
                        </h1>

                        <h4 class="text-muted">M.S. in <span class="text-danger">Analytics</span>
                            <span class="pull-right">2012.09 - 2013.12</span>
                        </h4>

                        <h1 class="text-right">
                            <span id="northwestern-work-count"></span>
                            <span class="glyphicon glyphicon-collapse-down roboxue-education-down"></span>
                        </h1>

                    </div>

                    <div class="list-group" id="northwestern" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item" id="fudan_university">
            <div class="row roboxue-education">
                <div class="col-md-3 roboxue-education-logo">
                    <img class="roboxue-education-logo img-responsive"
                         src="{{ url_for('static',filename='images/fudan.png') }}"
                         alt="Fudan University">
                </div>
                <div class="col-md-9">
                    <div class="page-header">
                        <h1>Fudan University
                            <span class="pull-right">Shanghai, China</span>
                        </h1>

                        <h4 class="text-muted">B.A. in <span class="text-danger">Economics</span>,
                            <span class="text-danger">Insurance</span> Major
                            <span class="pull-right">2008.09 - 2012.06</span>
                        </h4>

                        <h1 class="text-right">
                            <span id="fudan-work-count"></span>
                            <span class="glyphicon glyphicon-collapse-down roboxue-education-down"></span>
                        </h1>

                    </div>

                    <div class="list-group" id="fudan" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/holder.js') }}"></script>
    <script>
        $(function () {
            $.getJSON("{{ url_for('static',filename='works.json') }}", function (meta_data) {
                add_experiences("northwestern", meta_data);
                add_experiences("fudan", meta_data);
                $("#northwestern-work-count").text(meta_data.northwestern.length + " projects");
                $("#fudan-work-count").text(meta_data.fudan.length + " projects");

                $(".roboxue-label").click(function () {
                    var $label = $(this).clone().append("<span class='glyphicon glyphicon-remove'></span>");
                    $label.click(function () {
                        $(".roboxue-experience").show("blind");
                        $(".roboxue-education").show("blind");
                        $("#filter .roboxue-label").remove();
                        $("#filter").hide();
                        $("#northwestern-work-count").text($("#northwestern .roboxue-experience:visible").length + " projects");
                        $("#fudan-work-count").text($("#fudan .roboxue-experience:visible").length + " projects");
                    });
                    if ($("#filter").find(".roboxue-label").length > 0) {
                        $("#filter .roboxue-label").remove();
                    }
                    $("#filter").append($label);
                    $("#filter").show("highlight");
                    var search = $(this).text();
                    $(".roboxue-experience").hide();
                    $(".roboxue-experience").filter(function () {
                        return $(this).find(".roboxue-label").filter(function () {
                            return $(this).text().indexOf(search) != -1;
                        }).length != 0;
                    }).show();
                    $("#northwestern-work-count").text($("#northwestern .roboxue-experience:visible").length + " of " + $("#northwestern .roboxue-experience").length + " projects");
                    $("#fudan-work-count").text($("#fudan .roboxue-experience:visible").length + " of " + $("#fudan .roboxue-experience").length + " projects");
                    $(".roboxue-education").hide();
                    $(".roboxue-education").filter(function () {
                        return $(this).find(".roboxue-label").filter(function () {
                            return $(this).text().indexOf(search) != -1;
                        }).length != 0;
                    }).show("highlight");
                });
            });

            $("#li_about").addClass("active");

            $(".roboxue-education-down").click(function () {
                $(this).parents(".col-md-9").children(".list-group").toggle("blind", 1000);
                $(this).toggleClass("glyphicon-collapse-down glyphicon-collapse-up");
            });

            $("#toggle-filter").click(function () {
                $(this).toggleClass("glyphicon-collapse-down glyphicon-collapse-up");
                $(this).parents("#filter-candidates").children("ul").toggle("blind", 500);
            });

            $(".roboxue-education-down").click();


        });


        function add_experiences(school, meta_data) {
            var exp_root = d3.select("#" + school).selectAll("div").data(meta_data[school]).enter()
                    .append("div").attr("class", "list-group-item roboxue-experience");
            var items = exp_root.append("h4").attr("class", "list-group-item-heading text-primary").text(function (d) {
                return d.title;
            })
                    .append("span").attr("class", "pull-right");
            items.filter(function (d) {
                return d.url != "";
            })
                    .append("a").attr("href",function (d) {
                        return d.url;
                    }).attr("target", "_blank").text(function (d) {
                        return d.company;
                    });
            items.filter(function (d) {
                return d.url == "";
            })
                    .append("span").text(function (d) {
                        return d.company;
                    });
            exp_root.append("p").attr("class", "list-group-item-text").selectAll("p").data(function (d) {
                return d.description;
            }).enter().append("p").attr("class", function (d, i) {
                        return i == 0 ? "roboxue-experience-summary" : "roboxue-experience-detail";
                    })
                    .attr("style", function (d, i) {
                        return i == 0 ? "" : "display:none;";
                    })
                    .text(function (d) {
                        return d;
                    });
            $("#" + school + " .roboxue-experience-summary").append("<span class='text-primary glyphicon glyphicon-plus'></span><span class='text-primary'>Detail</span>");
            $("#" + school + " .roboxue-experience-summary").click(function () {
                $(this).siblings().toggle("blind");
            });
            exp_root.append("h5").attr("class", "roboxue-tags").selectAll("span").data(function (d) {
                return d.skills;
            }).enter()
                    .append("span").attr("class",function (d) {
                        return "label roboxue-label roboxue-label-" + d.type;
                    }).text(function (d) {
                        return d.name;
                    });
        }
    </script>


{% endblock %}