<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-theme.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <link href="{{ url_for('static', filename='vendor/bootstrap/js/html5shiv.js') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/js/respond.min.js') }}" rel="stylesheet">
    <![endif]-->
    <!-- Custom styles -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Robert Yan Xue</title>
    {% endblock %}
</head>

<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li id="li_home"><a href="{{ url_for('home')}}">Home</a></li>
            <li id="li_about"><a href="{{ url_for('about')}}">About</a></li>
            <li id="li_contact"><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">Roboxue &middot; Robert Yan Xue</h3>
    </div>
    {% block content %}{% endblock %}
    <div class="footer">
        <p>&copy; Roboxue 2013</p>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/d3/d3.v3.min.js') }}"></script>
{% block scripts %}{% endblock %}

</body>
</html>