<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-44612952-1', 'roboxue.com');
        ga('send', 'pageview');

    </script>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Roboxue, Robert, Yan, Xue, Data Scientist, Chicago, Illinois, IL, US, Northwestern
         Shanghai, China, Fudan, Analytics, Engineer, Machine Learning, Big Data">
    <meta name="description" content="Robert Yan Xue(Roboxue)'s Personal Website">
    <meta name="author" content="Robert Yan Xue(Roboxue)">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-theme.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <link href="{{ url_for('static', filename='vendor/bootstrap/js/html5shiv.js') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/js/respond.min.js') }}" rel="stylesheet">
    <![endif]-->
    <!-- Custom styles -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Robert Yan Xue</title>
    {% endblock %}
</head>

<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li id="li_home"><a href="{{ url_for('home') }}">Home</a></li>
            <li id="li_travel"><a href="{{ url_for('travel') }}">Travel</a></li>
            <li id="li_about"><a href="{{ url_for('work') }}"> Work </a></li>
            <li id="li_resume"><a href="{{ url_for('resume') }}" target="_blank">Resume</a></li>
        </ul>
        <h3 class="text-muted">Roboxue</h3>
    </div>
    {% block content %}{% endblock %}
    <footer class="footer">
        <ul class="nav nav-pills pull-left">
            <li><a>&copy; Roboxue 2013</a></li>
            <li><a href="mailto:roboxue@roboxue.com">roboxue@roboxue.com</a></li>
        </ul>
        <ul class="nav nav-pills pull-right">
            <li><a href="http://github.com/roboxue" target="_blank">
                <img class="github" src="{{ url_for('static',filename='images/GitHub-Mark.png') }}">
                Github @roboxue</a></li>
            <li><a href="http://www.weibo.com/roboxue" target="_blank">
                <img class="github" src="{{ url_for('static',filename='images/Weibo-Mark.png') }}">
                新浪微博 @roboxue</a></li>
            <li><a href="http://www.linkedin.com/in/roboxue" target="_blank">
                <img class="github" src="{{ url_for('static',filename='images/LinkedIn-Mark.png') }}">
                LinkedIn</a></li>
        </ul>
    </footer>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/d3/d3.v3.min.js') }}"></script>
{% block scripts %}{% endblock %}

</body>
</html>