{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<!-- Custom styles -->
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <img class="roboxue-profile img-responsive" src="{{ url_for('static',filename='images/Roboxue.png')}}"
                 alt="Roboxue"/>
        </div>
        <div class="col-lg-8">
            <div class="page-header">
                <h1>Robert Yan Xue<br/>
                    <small class="text-danger">aka "Roboxue"</small>
                    <br/>
                    <small>Chicago &middot; Shanghai</small>
                </h1>
            </div>

            <p class="lead">
                <span class="firstword">Data Scientist</span><br/>
                Big Data &middot; Data Visualization &middot; Predictive Analytics
            </p>

            <p><a class="btn btn-lg btn-success" href="{{ url_for('work')}}">My Work</a></p>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(function () {
        $("#li_home").addClass("active");
    });
</script>
{% endblock %}