{% extends "base.html" %}
{% block title %}
Travel
{% endblock %}
{% block head %}
{{ super() }}
<!-- Custom styles -->
<link href="{{ url_for('static', filename='css/travel.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Robert around the world...</h1>
</div>
<div class="row">
    <div class="col-lg-4">
        <h2>Europe in 2011</h2>
        <h4>May 18th - June 29th...</h4>
        <h4>42 Days, 13 Countries...</h4>
        <h4>€3000 Budget...</h4>
        <h4>And I made it to the <a href="http://en.wikipedia.org/wiki/Nordkapp">Nordkapp</a>!</h4>
    </div>
    <div class="col-lg-8">
        <div id="europe"></div>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='vendor/d3/topojson.v1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/d3/queue.v1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/travel.js') }}"></script>
<script>
    $(function () {
        $("#li_gallery").addClass("active");
    });

</script>
{% endblock %}